references/idmXSD2.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  idmXSD 2.0 - ISO 29481-3 Information Delivery Manual XML Schema
  Unified schema definition for IDM specifications
-->
<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:idm="https://standards.buildingsmart.org/IDM/idmXML/0.2"
  targetNamespace="https://standards.buildingsmart.org/IDM/idmXML/0.2"
  elementFormDefault="qualified">

  <!-- ============================================================ -->
  <!-- Simple Types                                                  -->
  <!-- ============================================================ -->

  <xs:simpleType name="uuid">
    <xs:restriction base="xs:normalizedString">
      <xs:length value="36" fixed="true"/>
      <xs:pattern value="[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="regionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="continent"/>
      <xs:enumeration value="country"/>
      <xs:enumeration value="USR"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="standardProjectStageName">
    <xs:restriction base="xs:string">
      <xs:enumeration value="inception"/>
      <xs:enumeration value="brief"/>
      <xs:enumeration value="design"/>
      <xs:enumeration value="production"/>
      <xs:enumeration value="handover"/>
      <xs:enumeration value="operation"/>
      <xs:enumeration value="end-of-life"/>
      <!-- Legacy values for backward compatibility -->
      <xs:enumeration value="maintenance"/>
      <xs:enumeration value="demolition"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- ============================================================ -->
  <!-- Common Elements                                               -->
  <!-- ============================================================ -->

  <!-- specId - Specification Identifier -->
  <xs:element name="specId">
    <xs:complexType>
      <xs:attribute name="guid" type="idm:uuid" use="required"/>
      <xs:attribute name="shortTitle" type="xs:string" use="required"/>
      <xs:attribute name="localShortTitle" type="xs:string" use="optional"/>
      <xs:attribute name="fullTitle" type="xs:string" use="required"/>
      <xs:attribute name="subTitle" type="xs:string" use="optional"/>
      <xs:attribute name="idmCode" type="xs:string" use="required"/>
      <xs:attribute name="localCode" type="xs:string" use="optional"/>
      <xs:attribute name="documentStatus" type="xs:string" use="required"/>
      <xs:attribute name="localDocumentStatus" type="xs:string" use="optional"/>
      <xs:attribute name="version" type="xs:string" use="optional"/>
    </xs:complexType>
  </xs:element>

  <!-- authoring - Authoring Information -->
  <xs:element name="authoring">
    <xs:complexType>
      <xs:attribute name="author" type="xs:string" use="required"/>
      <xs:attribute name="creationDate" type="xs:date" use="required"/>
      <xs:attribute name="modificationDate" type="xs:date" use="optional"/>
    </xs:complexType>
  </xs:element>

  <!-- description - Text description with optional images -->
  <xs:element name="description">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element ref="idm:image" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="title" type="xs:string" use="optional"/>
    </xs:complexType>
  </xs:element>

  <!-- image - Image reference -->
  <xs:element name="image">
    <xs:complexType>
      <xs:attribute name="caption" type="xs:string" use="required"/>
      <xs:attribute name="filePath" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>

  <!-- classification - Classification reference -->
  <xs:element name="classification">
    <xs:complexType>
      <xs:attribute name="id" type="xs:string" use="required"/>
      <xs:attribute name="name" type="xs:string" use="required"/>
      <xs:attribute name="version" type="xs:string" use="optional"/>
      <xs:attribute name="publicationYear" type="xs:gYear" use="optional"/>
    </xs:complexType>
  </xs:element>

  <!-- outcomes - Outcomes description -->
  <xs:element name="outcomes">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="idm:description" minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- informationRequirements - Information Requirements -->
  <xs:element name="informationRequirements">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="idm:description" minOccurs="1" maxOccurs="unbounded"/>
        <xs:element ref="idm:associatedEr" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- associatedEr - Reference to an Exchange Requirement -->
  <xs:element name="associatedEr" type="xs:string"/>

  <!-- ============================================================ -->
  <!-- IDM Root Element                                              -->
  <!-- ============================================================ -->

  <xs:element name="idm">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="idm:specId" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="idm:authoring" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="idm:uc" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="idm:businessContextMap" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="idm:er" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="subIdm" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="idm:idm"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
    <xs:key name="key_idmGuid">
      <xs:selector xpath="idm:specId"/>
      <xs:field xpath="@guid"/>
    </xs:key>
  </xs:element>

  <!-- ============================================================ -->
  <!-- Use Case (uc)                                                 -->
  <!-- ============================================================ -->

  <xs:element name="uc">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="idm:specId" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="idm:authoring" minOccurs="1" maxOccurs="1"/>

        <!-- Summary (required) -->
        <xs:element name="summary" minOccurs="1" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="idm:description" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <!-- Aim and Scope (required) -->
        <xs:element name="aimAndScope" minOccurs="1" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="idm:description" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <!-- Language (required) -->
        <xs:element name="language" type="xs:string" minOccurs="1" maxOccurs="1"/>

        <!-- Use (required, 1..*) -->
        <xs:element name="use" minOccurs="1" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="idm:classification" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required"/>
          </xs:complexType>
        </xs:element>

        <!-- Region (required, 1..*) -->
        <xs:element name="region" minOccurs="1" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="type" type="idm:regionType" default="USR"/>
            </xs:sequence>
            <xs:attribute name="value" type="xs:string" use="required"/>
          </xs:complexType>
        </xs:element>

        <!-- Standard Project Stage (required, 1..*) -->
        <xs:element name="standardProjectStage" minOccurs="1" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="idm:standardProjectStageName"/>
              <xs:element ref="idm:outcomes" minOccurs="0" maxOccurs="1"/>
              <xs:element ref="idm:informationRequirements" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <!-- Local Project Stage (optional) -->
        <xs:element name="localProjectStage" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1"/>
              <xs:element ref="idm:outcomes" minOccurs="0" maxOccurs="1"/>
              <xs:element ref="idm:informationRequirements" minOccurs="0" maxOccurs="1"/>
              <xs:element ref="idm:classification" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <!-- Construction Entity (optional) -->
        <xs:element name="constructionEntity" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="idm:classification" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required"/>
          </xs:complexType>
        </xs:element>

        <!-- Business Rule (optional) -->
        <xs:element name="businessRule" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="proposition" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="idm:description" minOccurs="1" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="reference" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:string" use="required"/>
            <xs:attribute name="name" type="xs:string" use="required"/>
          </xs:complexType>
        </xs:element>

        <!-- Actor (optional) -->
        <xs:element name="actor" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="idm:classification" minOccurs="0" maxOccurs="1"/>
              <xs:element ref="idm:description" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:string" use="required"/>
            <xs:attribute name="name" type="xs:string" use="required"/>
          </xs:complexType>
        </xs:element>

        <!-- Benefits (optional) -->
        <xs:element name="benefits" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="idm:description" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <!-- Limitations (optional) -->
        <xs:element name="limitations" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="idm:description" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <!-- Required Resources (optional) -->
        <xs:element name="requiredResources" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="idm:description" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <!-- Required Competencies (optional) -->
        <xs:element name="requiredCompetencies" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="idm:description" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <!-- Keywords (optional) -->
        <xs:element name="scopeKeyword" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="benefitKeyword" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>

        <!-- Reference (optional) -->
        <xs:element name="reference" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:attribute name="basisStandard" type="xs:boolean" use="required"/>
            <xs:attribute name="fullCitation" type="xs:string" use="required"/>
          </xs:complexType>
        </xs:element>

        <!-- User Defined Property (optional) -->
        <xs:element name="userDefinedProperty" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="idm:description" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required"/>
          </xs:complexType>
        </xs:element>

        <!-- Sub Use Case (optional) -->
        <xs:element name="subUc" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="idm:uc"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>

    <!-- Keys and Constraints for UC -->
    <xs:key name="key_ucGuid">
      <xs:selector xpath="idm:specId"/>
      <xs:field xpath="@guid"/>
    </xs:key>
    <xs:unique name="unique_useName">
      <xs:selector xpath="idm:use"/>
      <xs:field xpath="@name"/>
    </xs:unique>
    <xs:unique name="unique_actorName">
      <xs:selector xpath="idm:actor"/>
      <xs:field xpath="@name"/>
    </xs:unique>
    <xs:key name="key_businessRuleId">
      <xs:selector xpath="idm:businessRule"/>
      <xs:field xpath="@id"/>
    </xs:key>
  </xs:element>

  <!-- ============================================================ -->
  <!-- Business Context Map                                          -->
  <!-- ============================================================ -->

  <xs:element name="businessContextMap">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="idm:specId" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="idm:authoring" minOccurs="1" maxOccurs="1"/>
        <xs:choice minOccurs="1" maxOccurs="unbounded">
          <xs:element ref="idm:pm"/>
          <xs:element ref="idm:im"/>
        </xs:choice>
        <xs:element name="subBusinessContextMap" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="idm:businessContextMap"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- Process Map (pm) -->
  <xs:element name="pm">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="idm:diagram" minOccurs="1" maxOccurs="1"/>
        <xs:element name="dataObjectAndEr" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="associatedDataObject" type="xs:string" minOccurs="1" maxOccurs="1"/>
              <xs:element ref="idm:associatedEr" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:string" use="required"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="subPm" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="idm:pm"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- Interaction Map (im) -->
  <xs:element name="im">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="idm:diagram" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="idm:tm" minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- Transaction Map (tm) -->
  <xs:element name="tm">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="idm:diagram" minOccurs="1" maxOccurs="1"/>
        <xs:element name="messageAndEr" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="associatedMessage" type="xs:string" minOccurs="1" maxOccurs="1"/>
              <xs:element ref="idm:associatedEr" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:string" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- Diagram -->
  <xs:element name="diagram">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="idm:description" minOccurs="0" maxOccurs="unbounded"/>
        <!-- Extension: Allow embedded diagram content -->
        <xs:element name="diagramContent" type="xs:string" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:string" use="required"/>
      <xs:attribute name="name" type="xs:string" use="required"/>
      <xs:attribute name="notation" type="xs:string" use="required"/>
      <xs:attribute name="diagramFilePath" type="xs:string" use="required"/>
      <xs:attribute name="imageFilePath" type="xs:string" use="optional"/>
    </xs:complexType>
  </xs:element>

  <!-- ============================================================ -->
  <!-- Exchange Requirement (er)                                     -->
  <!-- ============================================================ -->

  <xs:element name="er">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="idm:specId" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="idm:authoring" minOccurs="1" maxOccurs="1"/>

        <!-- Constraint (optional) -->
        <xs:element name="constraint" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="idm:description" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:string" use="required"/>
            <xs:attribute name="associatedInformationUnit" type="xs:string" use="optional"/>
            <xs:attribute name="associatedBusinessRule" type="xs:string" use="optional"/>
          </xs:complexType>
        </xs:element>

        <!-- Corresponding MVD (optional) -->
        <xs:element name="correspondingMvd" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="idm:description" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="basis" type="xs:string" use="required"/>
            <xs:attribute name="name" type="xs:string" use="required"/>
          </xs:complexType>
        </xs:element>

        <!-- Description (optional) -->
        <xs:element ref="idm:description" minOccurs="0" maxOccurs="unbounded"/>

        <!--
          ISO 29481-3 Clause 10: An ER shall not be empty and shall have
          at least one information unit or a sub-ER.
        -->
        <xs:choice minOccurs="1" maxOccurs="unbounded">
          <xs:element ref="idm:informationUnit"/>
          <xs:element name="subEr">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="idm:er"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:choice>
      </xs:sequence>
    </xs:complexType>

    <!-- Keys for ER -->
    <xs:key name="key_erGuid">
      <xs:selector xpath="idm:specId"/>
      <xs:field xpath="@guid"/>
    </xs:key>
    <xs:key name="key_informationUnitId">
      <xs:selector xpath="idm:informationUnit"/>
      <xs:field xpath="@id"/>
    </xs:key>
    <xs:key name="key_constraintId">
      <xs:selector xpath="idm:constraint"/>
      <xs:field xpath="@id"/>
    </xs:key>
    <xs:keyref name="keyref_associatedInformationUnit" refer="idm:key_informationUnitId">
      <xs:selector xpath="idm:constraint"/>
      <xs:field xpath="@associatedInformationUnit"/>
    </xs:keyref>
  </xs:element>

  <!-- ============================================================ -->
  <!-- Information Unit                                              -->
  <!-- ============================================================ -->

  <xs:element name="informationUnit">
    <xs:complexType>
      <xs:sequence>
        <!-- Examples (optional) -->
        <xs:element name="examples" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="idm:description" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <!-- Corresponding External Element (optional) -->
        <xs:element name="correspondingExternalElement" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="idm:description" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="basis" type="xs:string" use="required"/>
            <xs:attribute name="name" type="xs:string" use="required"/>
          </xs:complexType>
        </xs:element>

        <!-- Sub Information Unit (optional, recursive) -->
        <xs:element name="subInformationUnit" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="idm:informationUnit" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>

      <!-- Required attributes per ISO 29481-3 -->
      <xs:attribute name="id" type="xs:string" use="required"/>
      <xs:attribute name="name" type="xs:string" use="required"/>
      <xs:attribute name="dataType" type="xs:string" use="required"/>
      <xs:attribute name="isMandatory" type="xs:boolean" use="required"/>
      <xs:attribute name="definition" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>

</xs:schema>
